/Entregable 3/node_modules
/Entregable 4/node_modules
/Entregable 5/node_modules
/Entregable 6/node_modules
/Entregable 6/.env
/Proyecto Final/node_modules
/Proyecto Final/.env
/Practica Integradora/node_modules
request.rest