<h1>Login</h1>
<div class="container">
    <form action='/api/users/auth' method="post" id="loginForm" >
        <div class="row mb-3">
            <label for="email" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" name="email" id="email">
            </div>
        </div>  
        <div class="row mb-3">
            <label for="password" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" name="password" id="password">
            </div>
        </div>  
        <button type="submit" class="btn btn-primary">Login</button>  
        <p>Not a member? <a href="/register">Register!</a></p>
        <a href="/api/github/auth">Login with Github</a>
    </form>
    
    <div id="error"></div>
</div>

<script src="/js/login.js"></script>